:root {
  --background-color: #1f1f1f;
  --font-color: #f5f5f5;

  --content-padding: 16px;
  --input-padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

#root {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

.page,
#page {
  height: 100%;
  width: 100%;
  padding: var(--content-padding);
}
